<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cuny.gc.multimodality.gettingthere">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavMenu" />
        <activity android:name=".MapsMenu" />
        <activity android:name=".HelpMenu" />
        <activity android:name=".StationMapDisplay" />
        <activity android:name=".TakePhotoForOCR" />
        <activity android:name=".NavCheck" />
        <activity android:name=".OCRActivity" />
        <activity android:name=".TextEntryCheck" />
        <activity android:name=".NavList" />
        <activity android:name=".GetDirections" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVxaVn7n2W_w2q5tBmec1RL1D0T2IoXrU"/>

    </application>

</manifest>